@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.weirdo-container {
  margin-bottom: 250px;
  display: table;
  width: 100%; }
  .weirdo-container .weirdo-left, .weirdo-container .weirdo-right {
    display: table-cell;
    vertical-align: top; }
  .weirdo-container .weirdo-right-inner {
    padding-top: 7px;
    padding-left: 40px; }
    .weirdo-container .weirdo-right-inner h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.5em;
      margin-left: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li > a {
      text-decoration: none; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li + li:before {
      padding: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb {
      background: none;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      font-size: 1.5em;
      color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li {
        color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li.active {
        color: #faa619;
        text-decoration: underline; }
    .weirdo-container .weirdo-right-inner .numbers-table {
      display: table; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row {
        display: table-row; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row > div {
        padding-top: 10px; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row.last-row > div {
        padding-top: 70px; }
      .weirdo-container .weirdo-right-inner .numbers-table .number-left {
        display: table-cell;
        font-size: 20px;
        font-weight: 600;
        color: #faa619;
        min-width: 100px; }
      .weirdo-container .weirdo-right-inner .numbers-table .caption-right {
        display: table-cell;
        font-size: 1.5em;
        padding-left: 1em; }
        .weirdo-container .weirdo-right-inner .numbers-table .caption-right span {
          color: #ccc; }
  .weirdo-container .control-img-container {
    overflow: hidden;
    position: relative; }
  .weirdo-container .control-img {
    width: 100%;
    height: 100%; }
  .weirdo-container .frame-container {
    margin-top: 10px; }
  .weirdo-container .img-frame {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .weirdo-container .img-frame-overlay {
    outline: 999px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1000;
    background: transparent;
    border: 1px dashed white; }
  .weirdo-container .preload-container {
    overflow: hidden; }
  .weirdo-container .right {
    float: right; }
  .weirdo-container .left {
    float: left;
    text-align: right;
    padding-right: 7px; }
    .weirdo-container .left .caption {
      font-style: italic;
      color: #58595b; }
    .weirdo-container .left .number {
      font-size: 20px;
      font-weight: 600;
      color: #faa619; }
  .weirdo-container .chart-container {
    padding-top: 20px; }
  .weirdo-container .chart-svg-container {
    overflow: visible; }
  .weirdo-container .chart-left, .weirdo-container .top-axis-left {
    height: 1px;
    display: block; }
  .weirdo-container div.vertical-line {
    border-left: 2px solid white;
    position: absolute;
    width: 1px;
    left: 0;
    top: 0; }
  .weirdo-container svg, .weirdo-container text {
    font-family: "Open Sans", sans-serif; }
  .weirdo-container svg text {
    fill: #58595b;
    stroke: none;
    font-style: italic; }
  .weirdo-container svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .weirdo-container svg .axis path {
      display: none; }
    .weirdo-container svg .axis--x text {
      text-anchor: start; }
    .weirdo-container svg .tick line {
      stroke: #58595b;
      opacity: .3;
      stroke-width: 1;
      stroke-dasharray: 2,2; }
    .weirdo-container svg .line {
      fill: none;
      stroke-width: 1.5px;
      stroke-linecap: round;
      shape-rendering: auto; }
    .weirdo-container svg .line-right {
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-left {
      stroke: #faa619; }
    .weirdo-container svg .line-dashed {
      stroke-dasharray: 2, 4;
      stroke-width: 2px;
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-declared {
      stroke: #faa619;
      stroke-width: 2.5px; }
    .weirdo-container svg path.line-annotation, .weirdo-container svg #arrowhead {
      stroke: #8c9494;
      stroke-opacity: 0.87;
      fill: none;
      shape-rendering: auto; }
    .weirdo-container svg circle {
      fill: #8c9494;
      fill-opacity: 0.87;
      shape-rendering: auto; }
    .weirdo-container svg .area-left {
      fill: #faa619;
      fill-opacity: 0.5; }
    .weirdo-container svg .area-right {
      fill: #faa619;
      fill-opacity: 0.3; }
    .weirdo-container svg .area-dashed {
      fill: #8c9494;
      fill-opacity: 0.1; }
  .weirdo-container svg.svg-frame-overlay path {
    stroke: white;
    stroke-width: 2px;
    shape-rendering: auto; }
  .weirdo-container .top-axis-container {
    margin-top: 6px; }
  .weirdo-container .top-axis-left .caption {
    margin-top: -8px; }
  .weirdo-container svg.top-axis {
    overflow: visible; }
    .weirdo-container svg.top-axis text {
      text-anchor: start; }
    .weirdo-container svg.top-axis path, .weirdo-container svg.top-axis line {
      fill: none;
      stroke: none; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*footer height plus padding*/
  margin-bottom: 250px; }

a {
  color: inherit;
  text-decoration: none; }

a:link {
  text-decoration: none; }

a:hover {
  color: #FAA61A; }

a.dotted {
  /*for links*/
  color: #4b444d;
  border-bottom: 2px dotted #cccccc; }

/* ======== HEADER ======== */
.social-icons, .logo {
  text-align: right;
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook-square {
  color: #4a4a4a;
  float: right;
  cursor: pointer; }

.fa-twitter:hover,
.fa-facebook:hover {
  color: #FAA61A; }

.fa-facebook-square {
  margin-right: 10px; }

/* ======== Footer ======== */
#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: #38393b none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px), (max-width: 1024px) {
    #footer {
      height: 195px; } }
  @media (max-width: 767px) {
    #footer {
      min-height: 100px; } }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }

@media (max-width: 1024px) {
  .links li {
    display: none; } }
.copyright {
  float: left;
  color: #fff; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px), (max-width: 1024px) {
    .copyright {
      font-size: 0.7em; } }
  @media (max-width: 767px) {
    .copyright {
      font-size: 0.9em; } }

.copying-info {
  line-height: 15px;
  color: #ffffff; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px), (max-width: 1024px) {
    .copying-info {
      font-size: 0.7em;
      padding-top: 20px; } }
  @media (max-width: 767px) {
    .copying-info {
      font-size: 0.9em;
      padding-top: 5px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A;
  font-size: 1.2em; }

* {
  margin: 0;
  padding: 0; }

.social-tw, .social-fb {
  font-size: 1.5em !important; }

.social-icons {
  text-align: right !important; }

body {
  font: 18px/1.4 "PT Sans", Serif;
  color: #464749;
  overflow-x: hidden !important;
  background-color: #ffffff; }

.jumbotron {
  background-image: url(../img/temperature.jpg);
  background-size: 100% 100%;
  height: 100vh;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  /* --  iPhone 7, 8 --- */
  /* --  iPad Rro--- */ }
  @media (max-width: 767px) and (max-width: 400px) and (orientation: landscape) {
    .jumbotron {
      height: 100vh; } }
  @media (max-width: 767px) and (max-width: 400px) and (orientation: portrait) {
    .jumbotron {
      height: 50vh; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .jumbotron {
      height: 50vh; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .jumbotron {
      height: 50vh; } }

.bg-overlay {
  height: 100vh;
  background: rgba(56, 57, 59, 0.5); }

h1 {
  text-align: center;
  color: #4d4d4d !important;
  font-weight: 700;
  /* --  iPad Rro--- */ }
  @media (max-width: 2570px), (max-width: 1440px) {
    h1 {
      margin-top: 40vh;
      font-size: 3vw !important;
      line-height: 4vw !important; } }
  @media (max-width: 1285px) {
    h1 {
      margin-top: 40vh;
      font-size: 3vw !important;
      line-height: 4vw !important; } }
  @media (max-width: 1024px) {
    h1 {
      margin-top: 40vh;
      font-size: 3.5vw !important;
      line-height: 5vw !important; } }
  @media (max-width: 767px) and (orientation: portrait) {
    h1 {
      margin-top: 20vh;
      font-size: 4vw !important;
      line-height: 5vw !important; } }
  @media (max-width: 767px) and (orientation: landscape) {
    h1 {
      margin-top: 40vh;
      font-size: 4vw !important;
      line-height: 5vw !important; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    h1 {
      margin-top: 20vh; } }

h1 span {
  text-transform: uppercase; }

h2 {
  font-size: 2.2rem;
  font-weight: bold; }

h3 {
  text-align: center;
  font-weight: 800;
  color: #4d4d4d !important;
  margin-top: 10px !important; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    h3 {
      font-size: 2.5vw !important; } }
  @media (max-width: 1024px) {
    h3 {
      font-size: 3vw !important; } }
  @media (max-width: 767px) and (orientation: portrait) {
    h3 {
      font-size: 3.5vw !important; } }
  @media (max-width: 767px) and (orientation: landscape) {
    h3 {
      font-size: 4vw !important; } }

h5 {
  font-size: 14px;
  text-align: right;
  color: #46bcff;
  margin: 20px 5% 50px 0; }

h5 span {
  color: #4d4d4d; }

.sorting {
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: text-top; }

p.paragraph {
  font-size: 2rem;
  line-height: 2.6rem;
  margin: 20px 0; }

p span {
  background-color: #46bcff;
  font-size: 1.8rem;
  color: white;
  line-height: 3rem; }

#page-wrap {
  margin: 50px; }

/*# sourceMappingURL=application.css.map */
